.screen {
  margin: 50px auto;
  border: 1px solid red;
  width: 1000px;
  height: 600px;
}

#start {
  padding: 50px;
  font-family: 'bloodlust expanded';
  color: darkred;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

#start h1 {
  margin: 0;
  font-size: 200px;
}

#game {
  display: none;
}

#game-over {
  display: none;
}
